POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_DB=""
POSTGRES_PORT=""
API_PORT=""
WEB_PORT=""
SWAGGER_UI_PORT=""
LOCALSTACK_PORT=""

# JWT Authentication
# jwks or hs256
AUTH_MODE=""
JWT_SECRET=""
JWKS_URL=""
JWT_ISSUER=""
JWT_AUDIENCE=""

VITE_COGNITO_USER_POOL_ID=""
VITE_COGNITO_CLIENT_ID=""